<?xml version="1.7" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.7.dtd">
<plist version="1.7">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://github.com/temaekim09-source/appinstaller/releases/download/Лента/_6.81.0_iOS_14.4+_tema_deputat@icloud.com.ipa</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.icemobile.lenta</string>
        <key>bundle-version</key>
        <string>1.7</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Лента</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
